[Unit]
Description=FreeTAKServer
After=network.target

[Service]
Type=simple
User=jhh-pi
ExecStart=/opt/blufor-tracker/.fts-venv/bin/python -m FreeTAKServer.controllers.services.FTS
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=FTS_FIRST_START=false
Environment=FTS_CONFIG_PATH=/opt/fts/FTSConfig.yaml

[Install]
WantedBy=multi-user.target
